\documentclass[12pt,a4paper]{article}
\usepackage[danish]{babel} % Set language!!! Fields will get corrected for this
\usepackage{setup}

\fancyhf{}
\lhead{\includegraphics[width=3.5cm]{fig/pop-opti-nofont.pdf}}
\renewcommand{\headrulewidth}{0pt}
\lfoot{Opsat {{ .opsat }} – Må nedtages {{ .nedtages }}}
\rfoot{Kontakt/Contact: trafik@pop.dk.}


\begin{document}

\section*{CYKELRAZZIA {{ .DateWithWeekdayAllcapsDK }}}
Der afholdes cykelrazzia på kollegiets udendørsarealer d. {{ .raidOnDK }} (jf. Husordenens § 52) for at fjerne cykler der ikke er brugbare eller ikke tilhører kollegiets beboere.

\textbf{To uger før razziaen fastgøres en grøn tråd til cykelstyrene på alle cykler i og ved cykelskurene. Disse tråde skal fjernes af de respektive ejere inden razziaen som indikation på, at cyklen er i brug.}

Cykler der på dagen for razziaen stadig har denne tråd fastgjort, og cykler der ikke er brugbare, vil i første omgang blive stillet uden for skuret for enden af p-pladsen. Cyklerne låses sammen med kæder efter razziaen. Man kan herefter kun ved henvendelse til inspektørkontoret få sin cykel igen. Efter to uger (eller mere) bliver de uafhentede cykler hentet af politiet.

\underline{For detaljer}: Bemærk 4 ugers varsel. Se den udsendte info-mail.

Bemærk: Cykler der ikke er i brugbar stand er defineret i Husordenens § 51, Stk. 2.

\hspace*{2cm} Trafikudvalget (Køkken O)

\section*{BIKE RAID ON {{ .DateWithWeekdayAllcapsEN }}}
A bike raid on the dormitory's outdoor areas will be held on {{ .raidOnEN }} (see § 52 of the House Rules) in order to remove bikes that are unusable or do not belong to the dormitory inhabitants.

\textbf{Two weeks before the raid, green treads are fastened to the handlebars of all bikes in and at the bike sheds. These threads must be removed by the respective owners of the bikes before the raid, as an indication that the bike is in use.}

Bikes that on the day of the raid still have the threads fastened, and bikes that are not usable, will at first be placed outside the shed at the end of the parking lot. The bikes are locked together with chains after the raid. Following this, you can only reclaim your bike by contacting the inspector’s office. After two weeks (or more), the unclaimed bikes are picked up by the police.

\underline{For details}: Please note: 4 week notice. Refer to the info mail that has been sent out.

Note: Bikes that are not in a usable condition are defined in § 51, Section 2 of the House Rules.

\hspace*{2cm} The Traffic Committee (Kitchen O)

\end{document}
